@use "./control_center/Bluetooth.scss";
@use "./control_center/Button.scss";
@use "./control_center/Music.scss";
@use "./control_center/Network.scss";
@use "./control_center/Slider.scss";
@use "./control_center/Switch.scss";
@use "../colors.scss" as *;

.ControlCenter {
    background: gtkalpha($window_bg_color, 0.8);
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

.widget-page-header * {
  font-size: 16px;
}

.list-section-part {
    padding: 20px;
    background-color: #ffffff11;
    min-width: 20px;
    border-radius: 2px;
}

.list-section-part.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-section-part.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
