@use "../../colors.scss" as *;
.widget-slider {
  button {
    min-width: 50px;
    border-radius: 30px;
  }
  button:hover {
    background: transparent;
  }
  button:hover * {
    color: gtkshade($window_bg_color, 2);
  }
  button * {
    color: $window_bg_color;
  }
  scale {
    margin: 0px;
    padding: 0px;
  }
  scale slider {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  scale trough {
    background: transparent;
    border-radius: 30px;
  }

  scale highlight {
    min-height: 50px;
    border-radius: 30px;
    min-width: 50px;
    background-color: $accent-color;
  }

  .underscale {
    background: #ffffff11;
    min-height: 8px;
    margin: 20px;
    border-radius: 4px;
  }
  .sizing {
    min-height: 50px;
  }
}

.widget-slider.disabled {
  scale highlight {
    background-color: #555;
  }

  icon {
    color: $window_fg_color;
  }
}
