// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "styles/colors.scss" as *;
@use "styles/widget/Bar.scss";
@use "styles/widget/ControlCenter.scss";

* {
  font-size: 14px;
}

icon {
  font-size: 16px;
}

label {
  color: $window_fg_color;
}

button:hover {
  background: $sidebar_bg_color;
}

scrollable {
  outline: none;
  border: none;
}

scrollable>* {
  outline: none;
  border: none;
}
