@use "../../colors.scss" as *;

.runner {
    background: gtkalpha($window_bg_color, 0.8);
    padding: 10px;
    border-radius: 20px;
}

.runner-result {
    background-color: #ffffff11;
}

.runner-result.result {
    & .title {
        font-size: 32px;
    }
}
