@use "../../colors.scss" as *;

.widget-action-button {
    background: #ffffff11;
    padding: 15px;
    border-radius: 30px;
    min-width: 150px;
}

.widget-action-button.active {
    background: $accent-color;
}

.widget-action-button.active:hover {
    background: gtkshade($accent-color, 1.1);
}

.widget-action-button.dnd.active {
    background: $purple_1;
}

.widget-action-button.dnd.active:hover {
    background: gtkshade($purple_1, 1.1);
}

.widget-action-button.active * {
    color: $window_bg_color;
}
