@use "../../colors.scss" as *;

.widget-playback {
    border-radius: 30px;

    & .raise-button {
        background: transparent;
    }

    & .background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 190px;
        border-radius: 31px;
        transition: background 0.5s linear;
    }

    .darken {
        background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.8) 100%);
        min-height: 190px;
        border-radius: 30px;
    }

    & .app-name {
        padding: 2px 7px;
        border-radius: 20px;
        background: $accent-color;
        color: $window_bg_color;
        font-weight: 400;
    }

    & .track {
        font-weight: 700;
        font-size: 20px;
    }

    & .artist {
        font-weight: 400;
        font-size: 14px;
    }

    & .details-box {
        margin: 0px 10px;
    }

    & .play-pause-button {
        background: $accent-color;
        border-radius: 500px;
        min-width: 55px;
        min-height: 55px;

        & icon {
            font-size: 30px;
            color: $window_bg_color;
        }

        &:hover {
            background: gtkshade($accent-color, 1.2);
        }
    }

    & scale {
        & highlight {
            box-shadow: none;
            background: $accent-color;
        }
        & slider {
            box-shadow: none;
            background: $accent-color;
            padding: 0px;
            min-height: 3px;
            min-width: 3px;
        }
    }

    & .controls {
        & button:hover {
            background: transparent;
        }

        & button:hover * {
            color: gtkshade($accent-color, 1.2);
        }
    }

}

.darken {
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.8) 100%);
    min-height: 190px;
    border-radius: 30px;
}

.tab {
    min-width: 5px;
    min-height: 5px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid $accent-color;
}

.tab.selected, .tab:hover {
    background: $accent-color;
}
