@use "../../colors.scss" as *;

.widget-toggle-switch {
  background: $accent-color;
  min-width: 50px;
  min-height: 25px;
  padding: 2px;
  border-radius: 12.5px;
}

.widget-toggle-switch-handle {
  background: gtkshade($accent-color, 0.6);
  min-width: 25px;
  min-height: 25px;
  border-radius: 12.5px;
  margin-left: 0px;
  margin-right: 25px;
  transition: margin-left 0.25s ease-out, margin-right 0.25s ease-out;
}

.widget-toggle-switch.enabled .widget-toggle-switch-handle {
  margin-left: 25px;
  margin-right: 0px;
}
