@define-color fg-color @theme_fg_color;
@define-color bg-color @theme_bg_color;
@define-color accent-color @accent_color;
@define-color base-color shade(@bg-color, 1.4);
@define-color subbase-color shade(@bg-color, 1.8);

* {
    border: none;
}
.bar {
    margin-top: -1px;
    min-width: 5px;
    min-height: 5px;
}

.clock-hour {
    color: @accent_color;
    font-weight: 900;
}

.clock-ampm {
    color: #777;
    font-size: 0.8rem;
}

button {
    border: none;
    background: aqua;
}

.overlay {
    background: transparent;
}

.inverted_corner {
    color: @bg-color;
}

.error-window {
    background: #dd0000aa;
    padding: 20px;
    border-radius: 20px;
}
