// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "styles/colors.scss" as *;
@use "styles/widget/Bar.scss";
@use "styles/widget/Calendar.scss";
@use "styles/widget/ControlCenter.scss";
@use "styles/widget/login/Login.scss";

* {
  font-size: 14px;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

icon {
  font-size: 16px;
}

label, icon, spinner {
  color: $window_fg_color;
  opacity: 1;
}

button:hover {
  background: $sidebar_bg_color;
}

scrollable {
  outline: none;
  border: none;
}

scrollable>* {
  outline: none;
  border: none;
}

.cover {
  background: gtkalpha($window_bg_color, 0.3);
}

.title {
    font-weight: 700;
}

.description {
    font-weight: 300;
}
