@use "./bar/Hyprland.scss";
@use "./bar/SystemTray.scss";
@use "../colors.scss" as *;

.Bar {
    background: gtkalpha($window_bg_color, 0.4);
    font-weight: bold;

    >centerbox {
      padding: 10px;
    }
}

button {
  margin: 0px;
  padding: 0px;
  background: transparent;
}

.bar-section {
  border-radius: 20px;
  padding: 7px 10px;
  background-color: #ffffff11;
  min-width: 20px;
}

.bar-section-part {
    padding: 7px 10px;
    background-color: #ffffff11;
    min-width: 20px;
    border-radius: 5px;
}

.bar-section-part.first {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bar-section-part.last {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
