@use "../../colors.scss" as *;
@use "sass:color";

$workspace-indicator-size: 7px;

.widget-workspace-indicator {
    border-radius: 20px;
    background: #ffffff44;
    padding: 0px;
    margin: 2px;
    min-height: $workspace-indicator-size;
    min-width: $workspace-indicator-size;
    transition: min-width ease-out 0.5s;
}

.widget-workspace-indicator.focused {
    background: $accent-color;
    min-width: 20px;
    padding: 2px;
}

.widget-close-active-client {
    background: none;
    padding: 3px;
    min-height: 0px;
    min-width: 0px;
}

