// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$accent-color: #{"@accent_color"};
$base-color: shade(#{$bg_color}, 1.4);
$subbase-color: shade(#{$bg_color}, 1.8);

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
}

.bar {
  background-color: $bg-color;
}

.bar.left {
  padding: 15px 5px;
}

.bar-section {
    background: $base-color;
  padding: 15px 5px;
  border-radius: 500px;

  button:hover {
    background: $subbase-color;
  }
}

button {
  background: transparent;
  border-radius: 500px;
  >image {
    transform: scale(1.0);
    transition: transform 0.125s ease-in-out;
    filter: brightness(1);
  }
}

button:hover {
  background: $base-color;

  >image {
    transform: scale(1.2);
  }
}

.clock {
  font-size: 12pt;
  font-weight: 900;
  color: $accent-color;
}

.tray-item {
  padding: 0px;
  margin: 0px;

  :hover {
    filter: brightness(1.5);
  }
}

.workspaces {
    background: $base-color;
    padding: 20px 10px;
    border-radius: 500px;
}

.workspace-indicator {
    border-radius: 500px;
    background-color: $subbase-color;
    transition: min-height 0.125s ease-in-out;
    min-height: 10px;
    min-width: 10px;
}

.workspace-indicator.active {
    background-color: $accent-color;
    min-height: 20px;
}

.workspace-indicator.special {
    background-color: orange;
}

.client {
  padding: 10px;
  margin: 0px 0px;
}

.bottom-menu-content {
    border-radius: 0px;
    padding: 8px;
    padding-bottom: 4px;
    transition: border-radius 0.05s ease-out;

}

.bottom-menu-content.open {
  border-radius: 16px 16px 0px 0px;
}

.runner-result {
  margin: 8px;
}

.runner-result.selected {
  outline: 2px solid $accent-color;
}

entry {
    padding: 8px 16px;
}
